%body
  %header
    %nav.navbar.navbar-expand-lg.bg-body
      .container-fluid
        %button.navbar-toggler{"aria-controls" => "navbarExample01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-mdb-collapse-init" => "", "data-mdb-target" => "#navbarExample01", type: "button"}
          %i.fas.fa-bars
        #navbarExample01.collapse.navbar-collapse
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item.active
              = link_to t('.home'), root_path, :class => "nav-link"
            %li.nav-item
              %a.nav-link{:href => "/main/contacts"} Contacts
            %li.nav-item
              %a.nav-link{:href => "/main/help"} Help
            %li.nav-item
              %a.nav-link{:href => "/main/about"} About

            - if signed_in?
              %li= link_to "Results", results_path, :class => "nav-link"
              %li= link_to t('.sign_out'), signout_path, :class => "nav-link"
              %li.logged.nav-link
                = current_user.email
                = current_user.name
                %img{ src: "https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}.png", style: "width: 25px;" }
            - else
              %li= link_to t('.sign_in'), signin_path, :class => "nav-link"

          .locale
            .ru_link
              = link_to image_tag("pictures/rus.jpg", alt: "",  style: "width: 30px; margin-right: 5px", title: "Русский" ), locale: :ru
            .en_link
              = link_to image_tag("pictures/uk.jpg", alt: "",  style: "width: 30px; margin-right: 5px", title: "English"), locale: :en
            %b
              = I18n.locale
